div.tooltip {
    position: absolute;
    background: cadetblue;
    text-align: left;
    width: 150px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
    font-size: 12px;
    opacity: 0;
}
div.tooltip img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}